html {
  font-family: "proxima nova", "proxima-nova", "Nanum Gothic", Helvetica, Arial, sans-serif;
}

.blind {
	text-indent: -9999px;
}

.inner {
	max-width: 1440px;
	margin: 0 auto;
  &--notice {
    position: relative;
  }
  &--header {
    display: flex;
    align-items: center;
    height: 60px;
  }
}

.notice {
  background: #E5E5E5;
  text-align: center;
  &__slider {
    display: inline-block;
  }
}

.locate {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  &__img {
    width: 18px;
    height: 12px;
    vertical-align: middle;
  }
  &__lan {
    display: inline-block;
    font: {
      size: .7rem;
      weight: 600;
    }
    margin: {
      left: 5px;
    }
    &__abbr {
      &:after {
        content: '|';
        display: inline;
        font-size: .6rem;
        margin-left: 3px;
        color: #A5AFC8;
        vertical-align: text-top;
      }
    }
  }
}

.slider {
  max-width: 550px;
  text-align: center;
  position: relative;
  &__btn {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__item {
    font: {
      size: .9rem;
    }
    padding: 17px 0;
  }
  &__link {
    &:before {
      content: 'NEW';
      display: block;
    }
  }
}

.header {
  &__left {
    flex-grow: 7;
    display: flex;
    align-items: center;
  }
  &__right {
    flex-grow: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
	&__logo {
		display: block;
		width: 120px;
		height: 14px;
		background: url(../img/logo-top.png) no-repeat center center;
		background-size: cover;    
	}
	&__category {
    margin-left: 22px;
	}
  &__menu {
    margin-right: 20px;
    :hover {
      color: #808080;
    }
  }
  &__search {
  }
}

.category {
  display: flex;
  justify-content: space-between;
  width: 285px;
  &:hover {
    color: #808080;
  }
	&__item {
    font: {
      size: 14px;
      weight: 600;
    }
    transition: color .5s;
    &:hover {
      color: #000;
    }
	}
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 138px;
	&__item {
    font: {
      size: 20px;
    }
	}
  &__icon {
    transition: color .5s;
    &:hover {
      color: #000;
    }  
  }
}

.search {
  &__btn {
    background: #000;
    border: none;
    outline: none;
    width: 250px;
    height: 60px;
    padding: 0 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: width .5s;
    &.opened {
      width: 60px;
      justify-content: center;
      .search__btn__icon--times {
        display: block;
      }
      .search__btn__txt {
        display: none;
      }
      .search__btn__icon--search {
        display: none;
      }
    }
    &__txt {
      color: #fff;
    }
    &__icon {
      &--times {
        width: 14px;
        height: 14px;
        background: url(../img/times.png) no-repeat center center;
        background-size: cover;
        display: none;
      }
      &--search {
        width: 15px;
        height: 15px;
        background: url(../img/search.png) no-repeat center center;
        background-size: cover;
        display: block;
      }
    }
  }
  &__dashboard {
    width: 100%;
    position: absolute;
    top: 132px;
    left: -300%;
    border: {
      top: 1px solid #000;
    }
    background: #fff;
    z-index: 10;
    transition: left .5s;
    &.opened {
      left: 0;
    }
  }
  &__layer {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: calc(100% - 132px);
    background: rgba(0,0,0,0);
    transition: background .5s;
    &.opened {
      left: 0;
      background: rgba(0,0,0,.5);
    }
  }
}

.dashboard {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  &--rows {
		&-1 {
			grid-template-rows: 1fr; 
		}
  }
	&--cols {
		&-211 {
			grid-template-columns: 2fr 1fr 1fr;
		}
		&-112 {
			grid-template-columns: 1fr 1fr 2fr;
		}
		&-1111 {
			grid-template-columns: repeat(4, 1fr);
		}
	}
  &__item {
    &--border {
      border: {
        left: 1px solid #000;
        bottom: 1px solid #000;
      }
      &:last-child {
        border-bottom: none;
      }
    }
//   반으로 나뉜 그리드
    &--flex {
      display: flex;
      flex-direction: column;
    }
		&--row {
			//	전체의 반을 차지하는 그리드
			&-2 {
				grid-row: 1 / 3;
			}
		}
		&--col {
			&-13 {
				grid-column: 1 / 3;
			}
			&-24 {
				grid-column: 2 / 4;
			}
			&-34 {
				grid-column: 3 / 4;
			}
			&-35 {
				grid-column: 3 / 5;
			}
		}
  }
  
  &-item {
    position: relative;
    width: 100%;
    height: 100%;
		&:hover {
			.dashboard-item__overlay {
				background: rgba(0,0,0,.5);
				&-txt {
					opacity: 1;
				}
			}
			.dashboard-item__img--state-primary {
				display: none;
			}
			.dashboard-item__img--state-hover {
				display: block;
			}
    }
    &__link {			
      &--block {
        display: block;
        width: 100%;
        height: 100%;  
      }
      &--txt {
        font: {
          size: 14px;
          weight: 600;
        }
        cursor: pointer;
        &:before {
          content: '';
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url(../img/arrow-right.png) no-repeat center center;
          background-size: cover;
          margin-right: 8px;
          vertical-align: middle;
        }
        &:hover {
          color: #808080;
          text-decoration: underline;
        }
      }
      &--color {
        &-white {
          color: #FFF;
          &:before {
            background: url(../img/arrow-right-white.png) no-repeat center center;
          }
        }
      }
    }
    &__img {
      width: 100%;
      height: 100%;
      vertical-align: bottom;
			&--state {
				&-hover {
					display: none;
				}
			}
    }
		&__inner {
			width: calc(100% - 60px);
			height: calc(100% - 60px);
			position: absolute;
			top: 30px;
			left: 30px;
			&--flex {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
		}
		&__foreword {
			color: #fff;
			margin: {
				bottom: 30px;
			}
		}
    &__title {
      color: #fff;
      font: {
        size: 14px;
      }
			margin: {
				bottom: 30px;
			}
      &--color {
        &-black {
          color: black;
        }
      }
      &--size {
        &-50p {
          font: {
            size: 50px;
          }
        }
      }
			&--bold {
				font: {
					weight: 600;
				}
			}
			&--right {
				text-align: right;
			}
    }
    &__des {
      font: {
        size: 16px;
      }
      color: #FFF;
			margin: {
				bottom: 20px;
			}
			text-align: left;
			&--color {
				&-black {
					color: #000;
				}
			}
    }
    &__content {
      margin: {
        left: 20px;
      }
    }
    &__subject {
      margin: {
        bottom: 20px;
      }
      font: {
        size: 30px;
        weight: 600;
      }
    }
		&__heart {
			display: block;
			border: none;
			background-color: none;
			outline: none;
			background: url(../img/heart.png) no-repeat center center;
			background-size: cover;
			width: 20px;
			height: 19px;
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			transition: transform .2s cubic-bezier(0.4, 0.9, 0.3, 2.25);
			&:hover {
				transform: scale(1.2);
			}
		}
		&__info {
			font: {
				size: 14px;
			}
			position: absolute;
			bottom: 0;
		}
		&__name {
			margin: {
				bottom: 5px;
			}
			&:hover {
				text-decoration: underline;
			}
		}
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0);      
      transition: background .5s;
      &-txt {
        position: absolute;
        bottom: 24px;
        left: 24px;
        color: #fff;
        font: {
          size: 36px;
          weight: 600;
        }
        opacity: 0;
        transition: opacity .5s;
        &--center {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
//    반으로 나뉜 그리드 상단 부분
    &--basis-185px {
      flex-basis: 185px;
    }
    &--flex-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &--right {
      &__title {
        font: {
          size: 42px;
          weight: 600;
        }
        margin: {
          top: 45px;
          left: 70px;
        }
      }
//      검색
      &__form {
        position: relative;
        width: 520px;
        margin: {
          top: 40px;
          left: 100px;
        }
      }
      &__searchbar {
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid #999;
        outline: none;
        padding: 15px;
        width: 520px;
        font: {
          size: 20px;
          weight: 600;
        }
      }
      &__searchbtn {
        border: none;
        outline: none;
        background: none;
        font: {
          size: 20px;
        }
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        cursor: pointer;
      }
//      인기검색어
      &__list {
        margin: {
          top: 50px;
          left: 115px;
        }
      }
      &__item {
        font: {
          size: 20px;
          weight: 600;
        }
        margin: {
          bottom: 25px;
        }
      }
    }
    &--grow-1 {
      flex-grow: 1;
    }
    &--grow-2 {
      flex-grow: 2;
    }
  }
}

.main {
  
}

.section {
  &--flex {
    display: flex;
  }
  &--01 {
    background: url(../img/KakaoTalk_20200601_100734242.jpg) no-repeat center center;
    background-size: cover;
    align-items: center;
    justify-content: flex-end;
    height: 760px;
    margin: 70px 0;
  }
  &--02 {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &--03 {
    background: url(../img/Home_02_1440x900.jpg) no-repeat center center;
    background-size: cover;
    align-items: center;
    justify-content: flex-end;
    height: 760px;
    margin: 70px 0;
    .section__title {
      color: #9F7E92;
    }
    .section__des {
      color: #9F7E92;
    }
    .section__btn {
      background: #9F7E92;
      color: #DBCAB9;
    }
  }
  &--04 {
    background: url(../img/Home_02_1440x900.gif) no-repeat center center;
    background-size: cover;
    height: 900px;
    .section__title {
      color: #1D5694;
    }
    .section__des {
      color: #1D5694;
    }
    .section__btn {
      background: #1D5694;
      color: #FFF;
    }
  }
  &__content {
    padding: 0 30px;
    &--right {
      text-align: right;
    }
  }
  &__title {
    font: {
      size: 50px;
      weight: 600;
    }
    &--36p {
      font: {
        size: 36px;
      }
    }
  }
  &__des {
    margin: {
      top: 30px;
      bottom: 20px;
    }
  }
  &__btn {
    width: 178px;
    height: 44px;
    background: #000;
    color: #fff;
    font: {
      weight: 600;
    }
    margin: {
      bottom: 15px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .5s;
    &:hover {
      opacity: .6;
    }
    &--right {
      display: inline-flex;
    }
  }
  &__link {
    &--more {
      display: block;
      margin: {
        top: 25px;
        bottom: 30px;
      }
      font: {
        weight: 600;
      }
      &:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 12px;
        background: url(../img/arrow-right.png) no-repeat center center;
        background-size: cover;
        margin-right: 9px;
      }
    }
  }
  &__list {
    display: flex;
  }
  &__item {
    &-name {
      font: {
        weight: 600;
      }
    }
  }
}