html {
  font-family: "proxima nova", "proxima-nova", "Nanum Gothic", Helvetica, Arial, sans-serif; }

.blind {
  text-indent: -9999px; }

.notice {
  background: #E5E5E5;
  text-align: center; }
  .notice__inner {
    max-width: 1440px;
    margin: 0 auto;
    position: relative; }
  .notice__slider {
    display: inline-block; }

.locate {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); }
  .locate__img {
    width: 18px;
    height: 12px;
    vertical-align: middle; }
  .locate__lan {
    display: inline-block;
    font-size: .7rem;
    font-weight: 600;
    margin-left: 5px; }
    .locate__lan__abbr:after {
      content: '|';
      display: inline;
      font-size: .6rem;
      margin-left: 3px;
      color: #A5AFC8;
      vertical-align: text-top; }

.slider {
  max-width: 550px;
  text-align: center;
  position: relative; }
  .slider__btn {
    position: absolute;
    top: 0;
    left: 0; }
  .slider__item {
    font-size: .9rem;
    padding: 17px 0; }
  .slider__link:before {
    content: 'NEW';
    display: block; }

.header__inner {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 60px; }

.header__left {
  flex-grow: 7;
  display: flex;
  align-items: center; }

.header__right {
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.header__logo {
  display: block;
  width: 120px;
  height: 14px;
  background: url(../img/logo-top.png) no-repeat center center;
  background-size: cover; }

.header__category {
  margin-left: 22px; }

.header__menu {
  margin-right: 20px; }
  .header__menu :hover {
    color: #808080; }

.category {
  display: flex;
  justify-content: space-between;
  width: 285px; }
  .category:hover {
    color: #808080; }
  .category__item {
    font-size: 14px;
    font-weight: 600;
    transition: color .5s; }
    .category__item:hover {
      color: #000; }

.menu {
  display: flex;
  justify-content: space-between;
  width: 138px; }
  .menu__item {
    font-size: 20px; }
  .menu__icon {
    transition: color .5s; }
    .menu__icon:hover {
      color: #000; }

.search__btn {
  background: #000;
  border: none;
  outline: none;
  width: 250px;
  height: 60px;
  padding: 0 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: width .5s; }
  .search__btn.opened {
    width: 60px;
    justify-content: center; }
    .search__btn.opened .search__btn__icon--times {
      display: block; }
    .search__btn.opened .search__btn__txt {
      display: none; }
    .search__btn.opened .search__btn__icon--search {
      display: none; }
  .search__btn__txt {
    color: #fff; }
  .search__btn__icon--times {
    width: 14px;
    height: 14px;
    background: url(../img/times.png) no-repeat center center;
    background-size: cover;
    display: none; }
  .search__btn__icon--search {
    width: 15px;
    height: 15px;
    background: url(../img/search.png) no-repeat center center;
    background-size: cover;
    display: block; }

.search__dashboard {
  width: 100%;
  position: absolute;
  top: 132px;
  left: -300%;
  border-top: 1px solid #000;
  background: #fff;
  z-index: 10;
  transition: left .5s; }
  .search__dashboard.opened {
    left: 0; }

.search__layer {
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: calc(100% - 132px);
  background: rgba(0, 0, 0, 0);
  transition: background .5s; }
  .search__layer.opened {
    left: 0;
    background: rgba(0, 0, 0, 0.5); }

.dashboard {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr; }
  .dashboard--rows-1 {
    grid-template-rows: 1fr; }
  .dashboard--cols-211 {
    grid-template-columns: 2fr 1fr 1fr; }
  .dashboard--cols-112 {
    grid-template-columns: 1fr 1fr 2fr; }
  .dashboard--cols-1111 {
    grid-template-columns: repeat(4, 1fr); }
  .dashboard--cols-11 {
    grid-template-columns: repeat(2, 1fr); }
  .dashboard--cols-1 {
    grid-template-columns: 1fr; }
  .dashboard__item--border {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000; }
    .dashboard__item--border:last-child {
      border-bottom: none; }
  .dashboard__item--flex {
    display: flex;
    flex-direction: column; }
  .dashboard__item--row-2 {
    grid-row: 1 / 3; }
  .dashboard__item--col-13 {
    grid-column: 1 / 3; }
  .dashboard__item--col-24 {
    grid-column: 2 / 4; }
  .dashboard__item--col-34 {
    grid-column: 3 / 4; }
  .dashboard__item--col-35 {
    grid-column: 3 / 5; }
  .dashboard-item {
    position: relative;
    width: 100%;
    height: 100%; }
    .dashboard-item:hover .dashboard-item__overlay {
      background: rgba(0, 0, 0, 0.5); }
      .dashboard-item:hover .dashboard-item__overlay-txt {
        opacity: 1; }
    .dashboard-item:hover .dashboard-item__img--state-primary {
      display: none; }
    .dashboard-item:hover .dashboard-item__img--state-hover {
      display: block; }
    .dashboard-item__link--block {
      display: block;
      width: 100%;
      height: 100%; }
    .dashboard-item__link--txt {
      font-size: 14px;
      font-weight: 600;
      cursor: pointer; }
      .dashboard-item__link--txt:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../img/arrow-right.png) no-repeat center center;
        background-size: cover;
        margin-right: 8px;
        vertical-align: middle; }
      .dashboard-item__link--txt:hover {
        color: #808080;
        text-decoration: underline; }
    .dashboard-item__link--color-white {
      color: #FFF; }
      .dashboard-item__link--color-white:before {
        background: url(../img/arrow-right-white.png) no-repeat center center; }
    .dashboard-item__img {
      width: 100%;
      height: 100%;
      vertical-align: bottom; }
      .dashboard-item__img--state-hover {
        display: none; }
    .dashboard-item__inner {
      width: calc(100% - 60px);
      height: calc(100% - 60px);
      position: absolute;
      top: 30px;
      left: 30px; }
      .dashboard-item__inner--flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .dashboard-item__inner--flex-right {
          align-items: flex-end;
          text-align: right; }
        .dashboard-item__inner--flex-left {
          justify-content: flex-start;
          align-items: flex-start;
          text-align: left; }
    .dashboard-item__form {
      position: relative;
      width: 520px;
      margin-top: 40px;
      margin-left: 100px; }
    .dashboard-item__searchbar {
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid #999;
      outline: none;
      padding: 15px;
      width: 520px;
      font-size: 20px;
      font-weight: 600; }
    .dashboard-item__searchbtn {
      border: none;
      outline: none;
      background: none;
      font-size: 20px;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      cursor: pointer; }
    .dashboard-item__list {
      margin-top: 50px;
      margin-left: 115px; }
    .dashboard-item__item {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 25px; }
    .dashboard-item__btn {
      width: 178px;
      height: 44px;
      background: #000;
      color: #fff;
      font-weight: 600;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity .5s; }
      .dashboard-item__btn:hover {
        opacity: .6; }
      .dashboard-item__btn--color-violet {
        color: #DBCAB9;
        background-color: #9F7E92; }
      .dashboard-item__btn--color-blue {
        background-color: #1D5694; }
    .dashboard-item__foreword {
      color: #fff;
      margin-bottom: 30px; }
    .dashboard-item__title {
      color: #fff;
      font-size: 14px;
      margin-bottom: 30px; }
      .dashboard-item__title--color-black {
        color: black; }
      .dashboard-item__title--color-violet {
        color: #9F7E92; }
      .dashboard-item__title--color-blue {
        color: #1D5694; }
      .dashboard-item__title--size-40p {
        font-size: 40px; }
      .dashboard-item__title--size-50p {
        font-size: 50px; }
      .dashboard-item__title--bold {
        font-weight: 600; }
      .dashboard-item__title--right {
        text-align: right; }
    .dashboard-item__des {
      font-size: 16px;
      color: #FFF;
      margin-bottom: 20px; }
      .dashboard-item__des--color-black {
        color: #000; }
      .dashboard-item__des--color-violet {
        color: #9F7E92; }
      .dashboard-item__des--color-blue {
        color: #1D5694; }
    .dashboard-item__content {
      margin-left: 20px; }
    .dashboard-item__subject {
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 600; }
    .dashboard-item__heart {
      display: block;
      border: none;
      background-color: none;
      outline: none;
      background: url(../img/heart.png) no-repeat center center;
      background-size: cover;
      width: 20px;
      height: 19px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      transition: transform 0.2s cubic-bezier(0.4, 0.9, 0.3, 2.25); }
      .dashboard-item__heart:hover {
        transform: scale(1.2); }
    .dashboard-item__info {
      font-size: 14px;
      position: absolute;
      bottom: 0; }
    .dashboard-item__name {
      margin-bottom: 5px; }
      .dashboard-item__name:hover {
        text-decoration: underline; }
    .dashboard-item__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      transition: background .5s; }
      .dashboard-item__overlay-txt {
        position: absolute;
        bottom: 24px;
        left: 24px;
        color: #fff;
        font-size: 36px;
        font-weight: 600;
        opacity: 0;
        transition: opacity .5s; }
        .dashboard-item__overlay-txt--center {
          left: 50%;
          transform: translateX(-50%); }
    .dashboard-item--right {
      text-align: right; }
    .dashboard-item--basis-185px {
      flex-basis: 185px; }
    .dashboard-item--flex-center {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .dashboard-item--grow-1 {
      flex-grow: 1; }
    .dashboard-item--grow-2 {
      flex-grow: 2; }

.section--flex {
  display: flex; }

.section--02 {
  align-items: center;
  justify-content: center;
  text-align: center; }

.section--09 {
  margin-bottom: 180px; }

.section--10 {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5; }

.section__content {
  padding: 0 30px; }
  .section__content--right {
    text-align: right; }

.section__title {
  font-size: 50px;
  font-weight: 600; }
  .section__title--36p {
    font-size: 36px; }

.section__des {
  margin-top: 30px;
  margin-bottom: 20px; }

.section__btn {
  width: 178px;
  height: 44px;
  background: #000;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .5s; }
  .section__btn:hover {
    opacity: .6; }
  .section__btn--right {
    display: inline-flex; }

.section__link--more {
  display: block;
  margin-top: 25px;
  margin-bottom: 30px;
  font-weight: 600; }
  .section__link--more:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 12px;
    background: url(../img/arrow-right.png) no-repeat center center;
    background-size: cover;
    margin-right: 9px; }

.section__list {
  display: flex; }

.section__item-name {
  font-weight: 600; }

.card {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto; }
  .card__item {
    height: 260px;
    border-left: 1px solid #E5E5E5;
    flex-grow: 1; }
    .card__item:first-child {
      border-left: none; }
  .card__content {
    text-align: center;
    margin-top: 30px; }
  .card__icon--mr-30 {
    margin-right: 30px; }
  .card__title {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 15px; }
  .card__des {
    font-size: 12px;
    color: #757575; }
  .card__link {
    font-size: 12px;
    display: inline-block;
    text-decoration: underline;
    margin-top: 45px; }
